<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title><%= title %></title>
  </head>
  <body id="albums">
    <%- include("./partials/header") %>
    <section>
      <h1 class="hero"><%= title %></h1>
      <div class="grid">
        <% data.forEach(element => { %>
        <article>
          <div class="image">
            <% if (element.images.length != 0) { %>
            <img src="<%= element.images[0].url %> " alt="" />
            <% } %>
          </div>
          <div class="info">
            <h2><%= element.name %></h2>
            <a href="/tracks/<%= element.id %>">View Tracks</a>
          </div>
        </article>
        <% }) %>
      </div>
    </section>
    <%- include("./partials/footer") %>
  </body>
</html>
